@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    width: 100vw;
    /* margin: 0px 75px ; */
    background-color: #F2F2F2;
}

header{
    height: 17vh;
    width: 85%;
    max-width: 1230px;
}
h1{ width: 100%;
    padding-top: 20px;
   font-size: 56px;
   font-weight: 800;
   color:#2D72F1;
}

section{
    display: flex;
    height: fit-content;
    width: 80%;
    max-width: 1200px;
    /* justify-content: spac */
    gap: 100px;
}

/* form styling */


.form-container{
   
    height:fit-content;
    max-height: 700px;
    width: 30%;
    max-width: 300px;
    /* background-color: antiquewhite; */
}
form{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: fit-content;
}
.form-container label{
    display: block;
    font-size: 20px;
    font-weight: 500;
    color:#7aa0e2;
}
.single-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-container select{
  width:100%;
  border:1px solid  #5c88d473; 
  padding: 10px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
}

.form-container input{
    width:92%;
    border:1px solid  #5c88d473; 
    padding: 10px;
    /* background-color: transparent; */
    border-radius: 4px;
    font-size: 22px;
    /* cursor: pointer; */
}

input[type="submit"]{
    width: 100%;
    color: white;
    background-color: #2D72F1;
}






.task-container{
    width: 60%;
    display: flex;
    height: 100%;
}
.logo{
    height: 40px;
    width:40px;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 87px !important;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 0px 8px 1px #8888882f;
}

.single-task{
    align-self:center ;
    display: flex;
    gap: 20px; 
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.priority-capsule{
    display: flex;
    justify-content: center;
    width: fit-content;
    background-color: #F15F91;
    color:white;
    font-size:16px;
    padding: 5px 12px;
    border-radius: 5px;

}
.info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:100%
}
.capsule-and-date{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-between;
}
.date-task{
    width: inline-block;
    color:#a8a6a6;
}
.task-name{
    font-size: 28px;
    color:#464d96;
    font-weight: 500;
}
.category-capsule-container{
    display: flex;
    gap: 20px;
}
.category-capsule{
    display: flex;
    justify-content: center;
    width: fit-content;
    background-color: #DCDCDC;
    color:#708FC4;
    font-size:16px;
    padding: 5px 12px;
    border-radius: 5px;   
}

.task-footer{
   display: flex;
   width: 100%;
   justify-content: space-between; 
}

.icon-and-text{
display: flex;
gap:10px;

}
.icon-and-text i{
    color:#7A8489;
    font-size: 16px;
}
.task-footer-text{
    color:#708FC4;
    font-size: 16px;
    font-weight:500;
}

